/* General rule */
* {
box-sizing: border-box;
}

/* HTML elements page rules */

body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #595959;
}

header {
    background: lightgrey;
    text-align: center;
    width: 100%;
    margin-top: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 38px;
    padding-bottom: .5em;
}

h2 {
    text-transform: uppercase;
    font-size: 23px;
    margin: 1.5em 0 2em 0;
}

h3 {
    font-size: 25px;
    padding: 10px 0 10px 0;
}

p {
    font-size: 22px;
    line-height: 30px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;    
}

a:hover {
    transform: scale(1.05);
    color: grey;
}

footer {
    background: lightgray;
    padding-top: 3em;
}

/* Class rules */

.main-nav a {
    display: inline-block;
    background: white;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.container img {
    max-width: 100%;
}

.projects section {
    margin-top: 4em;
    margin-bottom: 4em;

}

.phone,
.email,
.bottom-footer {
    font-weight: 900;
}

.name-footer {
    float: left;

}

.link-footer {
    float: right;
    margin: auto;
}

.footer-nav {
    display: none;
    text-transform: uppercase;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ---------Media Queries 768px------------ */

@media (min-width: 768px) {

/* Adjust top navigation */
    nav{
    display: inline-block;
    }

    h1{
        padding: 0;
    }

    .main-nav li {
        float: left;
    }
    
    .main-nav a {
        background: none;
        padding: 0 1.5em 0 1.5em;
        margin: 0;
    }

/* Adjust personal intro */
    .person-intro img {
        float: right;
        max-width: 35%;
        padding: 5px 5px 5px 25px;
    }

    .person-intro p {
        text-align: left;
    }

/* Adjust layout of projects */
    .right-column {
        width: 50%;
        padding: 5px;
        float: right;
        
    }

    .left-column {
        width: 50%;
        padding: 5px;
        float: left;
    }

    .top-row p, .bottom-row p {
        height: 150px;
        overflow: auto;
    }

/* Adjust languages */

    .languages {
        width: 50%;
        margin: auto;
    }

/* Adjust layout of footer nav */
    .link-footer {
        display: none;
    }

    .footer-links {
        float: right;
    }

    .footer-nav {
        display: inline-block;
    }

    .footer-nav li {
        float: left;
        padding: 10px;
    }

    .footer-text {
        width: 70%;
        margin: auto;
    }
}

  /* ---------Media Queries 1024px------------ */

@media (min-width: 1024px) {

/* Adjust layout of projects */
    .left-column,
    .right-column {
        float: none;
    }

    .top-row section,
    .bottom-row section {
        display: inline-block;
    }


    .projects section {
        max-width: 32%;
    }

    .top-row p, .bottom-row p {
        height: 150px;
        overflow: auto;
    }

/* Adjust of footer */
    .footer-text {
        width: 60%;
    }

}